.table{
    /* background: linear-gradient(135deg, #AD36CB 60%, #333333 30%); */
    background-color: #333333;
    width: 80%;
    margin-left: 10%;

}

.tab-number{
    width: 20px;
}

.tabBack2{
    background-color: #AD36CB;

}

.current-filters{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.filt_btn{
    background-color: #AD36CB;
    border-radius: 5px;

}